.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

ul {
  padding-left: 20px;
}

li {
  list-style: none;
}

.expand-icon {
  height: 16px;
  width: 10px;
  display: inline-block;
  background-image: url('../public/icon-sprite.png');
  background-position-x: 57%;
  vertical-align: bottom;
}

.collapse-icon {
  height: 16px;
  width: 10px;
  display: inline-block;
  background-image: url('../public/icon-sprite.png');
  background-position-x: 71%;
  vertical-align: bottom;
}

.file-icon {
  height: 16px;
  width: 14px;
  display: inline-block;
  background-image: url('../public/icon-sprite.png');
  background-position-x: 30%;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.folder-icon {
  height: 16px;
  width: 20px;
  background-image: url('../public/icon-sprite.png');
  display: inline-block;
  background-position-x: -6%;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
